.sidebar-catalog {
    background-color: $colorWhite;
    border: 1px solid #ebebeb;
    padding: 20px;
    &__title {
        @include mainFont ($lineHt: 16px, $color: $colorGrey, $fWeight: 500);
        margin-bottom: 20px;
        text-transform: uppercase;
        display: inline-block;
        position: relative;
        padding-bottom: 11px;
        @include lineBefore ($bgColor: $colorDarkRed, $lineH: 3px,  $widthLine: 40px)
    }
    &__category{
        li {
            border-bottom: 1px solid #ebebeb;
        }
        a {
            @include mainFont ($size: 14px, $lineHt: 25px, $color: $colorGrey, $fWeight: 300);
            @include aHover ();
            padding: 10px 0;
            display: block;
        }
        margin-bottom: 40px;
    }
}