@font-face {
    font-family: 'Rubik';
    src: url($font_dir + 'Rubiklight.woff2');
    src: url($font_dir + 'Rubiklight.woff') format('woff'),
        url($font_dir + 'Rubiklight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url($font_dir + 'Rubik.woff2');
    src: url($font_dir + 'Rubik.woff') format('woff'),
        url($font_dir + 'Rubik.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url($font_dir + 'Rubikmedium.woff2');
    src: url($font_dir + 'Rubikmedium.woff') format('woff'),
        url($font_dir + 'Rubikmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url($font_dir + 'Rubikbold.woff2');
    src: url($font_dir + 'Rubikbold.woff') format('woff'),
        url($font_dir + 'Rubikbold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url($font_dir + 'Rubikblack.woff2');
    src: url($font_dir + 'Rubikblack.woff') format('woff'),
        url($font_dir + 'Rubikblack.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}