$colorDarkGrey: #222222;
$colorGrey: #333;
$colorDarkRed: #c40316;
$colorLightGrey: #ebebeb;
$colorGreyBrd: #ddd;
$colorWhite: #ffffff;
$colorYellow: #ffde00;
$colorDarkYellow: #ffc600;
$colorBlue: #007bff;
$colorGreen: #62ab00;
$colorNew: #d62d49;

$bgColorGrey: #F5F5F9;

$per100: 100%;
$fontSizeDef: 14px;
$fontSize--h1: 40px;
$fontSize--h2: 24px;
$fontSize--h3: 20px;
$mp-site: 60px;
